.avatar {
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $secondary;
	border-radius: 50%;
	flex-shrink: 0;

	&__primary {
		color: $white;
		border: 0;
		background-color: $primary;
	}
	&__success {
		color: $white;
		border: 0;
		background-color: $success;
	}
	&__warning {
		color: $white;
		border: 0;
		background-color: $warning;
	}
	&__danger {
		color: $white;
		border: 0;
		background-color: $danger;
	}
	&__blue {
		color: $white;
		border: 0;
		background-color: $blue;
	}
	&__indigo {
		color: $white;
		border: 0;
		background-color: $indigo;
	}
	&__purple {
		color: $white;
		border: 0;
		background-color: $purple;
	}
	&__pink {
		color: $white;
		border: 0;
		background-color: $pink;
	}
	&__red {
		color: $white;
		border: 0;
		background-color: $red;
	}
	&__orange {
		color: $white;
		border: 0;
		background-color: $orange;
	}
	&__yellow {
		color: $white;
		border: 0;
		background-color: $yellow;
	}
	&__green {
		color: $white;
		border: 0;
		background-color: $green;
	}
	&__teal {
		color: $white;
		border: 0;
		background-color: $teal;
	}
	&__cyan {
		color: $white;
		border: 0;
		background-color: $cyan;
	}
}
