.badge {
	&-outline {
		border: 1px solid $dark;
	}
	&-outline-primary {
		border: 1px solid $primary;
	}
	&-outline-info {
		border: 1px solid $info;
	}
	&-outline-success {
		border: 1px solid $success;
	}
	&-outline-danger {
		border: 1px solid $danger;
	}
	&-outline-warning {
		border: 1px solid $warning;
	}
	&-outline-light {
		border: 1px solid $light;
	}
}
