#admin-layout {
	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding:1rem;
		img {
			max-width: 100%;
		}
	}

	.site-content {
		padding: 16pxs;
		height: calc(100vh - 64px);
		padding: 15px;
		overflow-x: hidden;
		width: 100%;
	}
}
