#top-header {
	.trigger {
		font-size: 1.5rem;
		line-height: 64px;
		cursor: pointer;
		margin: 0 0.5rem;
		opacity: 1;

		&:hover {
			opacity: 0.5;
		}
	}

	.user-menu {
		justify-content: end;
	}
}

.site-layout .site-layout-background {
	background: #fff;
}
